<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar Mascota
  </button>
</div>

<table mat-table [dataSource]="mascotas" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha_nacimiento">
    <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento}} </td>
  </ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
