
.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}