<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
    <h2 class="text-muted text-center">Nueva</h2>
    <form (ngSubmit)="guardar()" [formGroup]="miFormulario" class="form">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre"/>
        <mat-error *ngIf="miFormulario.controls['nombre'].errors?.['required']">El nombre es requerido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="miFormulario.controls['fecha_nacimiento'].errors?.['required']">La fecha de nacimiento es requerida</mat-error>
      </mat-form-field>
      
      <div fxLayout="row wrap" class="text-center mt-5">
        <button mat-button color="primary" class="w-50" (click)="cancelar()">
          Cancelar
        </button>
        <button mat-button color="primary" type="submit" class="w-50">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

